<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Goods_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-goods_id" data-rule="required" data-source="goods/index" class="form-control selectpage" name="row[goods_id]" type="text" value="{$row.goods_id|htmlentities}" disabled>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Seckill_json')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <dl class="fieldlist" data-template="basictpl" data-name="row[seckill_json]">
                <dd id="fast_dd" style="width: 90%;display: flex;justify-content: space-between;">
                    <ins>{:__('规格')}</ins>
                    <ins>{:__('原价')}</ins>
                    <ins>{:__('剩余库存')}</ins>
                    <ins>{:__('秒杀价')}</ins>
                </dd>
                <dd class="hide"><a href="javascript:;" class="btn btn-sm btn-success btn-append"><i class="fa fa-plus"></i> {:__('Append')}</a></dd>
                <textarea id="seckill_specs" name="row[seckill_json]" class="form-control hide" cols="30" rows="5">{$row.seckill_json|htmlentities}</textarea>
            </dl>
            <script id="basictpl" type="text/html">

                <dd class="form-inline options dynamic_del"  style="display: flex;justify-content: flex-start;">
                    <div id="ins" style="width: 90%;display: flex;justify-content: space-between;">
                        <ins >
                            <input type="text" data-rule="required" name="<%=name%>[<%=index%>][specs]" class="form-control" placeholder="规格" value="<%=row.specs%>" readonly>
                        </ins>
                        <ins>
                            <input type="number" data-rule="required" name="<%=name%>[<%=index%>][price]" class="form-control" placeholder="原价" value="<%=row.price%>" readonly>
                        </ins>
                        <ins>
                            <input type="number" data-rule="required" name="<%=name%>[<%=index%>][stock]" class="form-control"  placeholder="剩余库存" value="<%=row.stock%>" readonly>
                        </ins>
                        <ins>
                            <input type="number" data-rule="required" name="<%=name%>[<%=index%>][seckill_price]" class="form-control" placeholder="秒杀价" value="<%=row.seckill_price%>">
                        </ins>
                    </div>
                    <!--下面的两个按钮务必保留-->
                    <div>
<!--                        <span class="btn btn-sm btn-danger btn-remove"><i class="fa fa-times"></i></span>-->
<!--                        <span class="btn btn-sm btn-primary btn-dragsort"><i class="fa fa-arrows"></i></span>-->
                    </div>
                </dd>
            </script>

        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
